.group {
  color: #2c2f33;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
  margin-top: 2rem;
}

.skillList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
}

.skill {
  color: #7289da;
  padding: 1rem 2rem 0 0;
}
