.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #23272a;
  color: #fff;
  max-height: 9rem;
}

.logoWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  animation: fadeIn ease 3s;
}

.logoLink {
  width: auto;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo:hover {
  background-color: #7289da;
  border-radius: 50%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}